{% extends 'base.html' %} {% block title %} Dashboard {% endblock title %} {%block content %}
<section class="text-gray-600 body-font">

<section class="text-gray-600 body-font overflow-hidden">

  <div class="container px-5 py-10 mx-auto">
  <div class="flex flex-col">
  <h1 class="
          sm:text-3xl
          text-2xl
          title-font
          font-bold
          text-gray-900
          mt-4
          mb-4
        ">
        {{student.student.first_name}} {{student.student.last_name}}
</h1>
<h1 class="
          sm:text-xl
          text-lg
          title-font
          text-gray-900
          mt-2
          mb-2
        ">
        Batch: {{student.batch}}
</h1>
<h1 class="
          sm:text-xl
          text-lg
          title-font
          text-gray-900
          mt-2
          mb-2
        ">
        Semester: {{semester|title}}
</h1>
<h1 class="
          sm:text-xl
          text-lg
          title-font
          text-gray-900
          mt-2
          mb-2
        ">
        Roll No: {{student.roll_no}}
</h1>
  </div>
    <div class="flex justify-between">
      <h1
        class="
          sm:text-3xl
          text-2xl
          title-font
          font-medium
          text-gray-900
          mt-4
          mb-4
        "
      >
        Assigned Courses
      </h1>
      {% comment %}
      <a
        href="{% url 'subject_create_view' semester.id %}"
        class="block text-lg"
        >Add Subject</a
      >
      {% endcomment %}
    </div>
    <br />
    <div class="flex flex-wrap -m-12">
      {% for course in courses %}
      <div class="p-12 md:w-1/2 flex flex-col items-start">
        <h2
          class="
            sm:text-3xl
            text-2xl
            title-font
            font-medium
            text-gray-900
            mt-4
            mb-4
          "
        >
          Subject: {{course|title}}
        </h2>
        <p class="leading-relaxed mb-8">Semester: {{course.semester}}</p>
        <div
          class="
            flex
            items-center
            justify-between
            flex-wrap
            pb-4
            mb-4
            border-b-2 border-gray-100
            mt-auto
            w-full
          "
        >
          <a
            href="{% url 'student-course-detail' course.id %}"
            class="text-indigo-500 inline-flex items-center"
            >View
            <svg
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          
        </div>
      </div>
      {% endfor %}
      
    </div>
    <br />
    {% endblock content %}
  </div>
</section>
