{% extends 'base.html' %} {% block title %} Students {% endblock title %} {%block content %}


<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex justify-between">
    
    <h1 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Semester {{semester.name|title}}</h1>

    <a href="{% url 'semester_update_view' semester.id %}" class="text-indigo-500 inline-flex items-center">Update Semester</a>
    <a href="{% url 'semester_delete_view' semester.id %}" class="text-red-500 inline-flex items-center">Delete Semester</a>
    
    </div>
    <br>
      <div class="flex flex-wrap -m-12">
      {% for course in semester.courses.all %}
        <div class="p-12 md:w-1/2 flex flex-col items-start">
          <h2 class="sm:text-3xl text-2xl title-font font-medium text-gray-900 mt-4 mb-4">Subject: {{course|title}}</h2>
          
          {% if course.teacher %}
              <p class="leading-relaxed mb-8">Teacher: {{course.teacher}}</p>
          {% endif %}        
          <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-100 mt-auto w-full">
            <a href="{% url 'course_update_view' course.id %}" class="text-indigo-500 inline-flex items-center">Update
              <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M5 12h14"></path>
                <path d="M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
        </div>
      {% endfor %}
          
        </div>
      </div>
<br>

{%endblock%}